* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.name-inputs-container {
  display: flex;
  flex-direction: column;
}

.name-inputs-container * {
  font-size: 30px;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}
